body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 20vh;
    margin: 2rem;
}

button{
    background-color: #993399;
    border: none;
    font-size: x-large;
    color: white;
    padding: 1rem 4.5rem 1rem 4.5rem;
    border-radius: 5px;
}

input{
    width: 17rem;
    height: 1rem;
    margin: 0.6rem;
}

label{
    width: 0rem;
    height: 0rem;
    margin: 0.6rem;
    font-family: sans-serif;
}

p{
    letter-spacing: 0.1em;
    font-weight: 400;
}

h1{
    color: black;
}

.container{
    background-color: white;
    border-radius: 0px 15px 15px 15px;;
    width: 60%;
    height: auto;
}

.container-paragraph{
    text-align: justify;
    font-family: Impact, sans-serif;
    color: gray;
    line-height: 2rem;
}

.container-title{
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    color:rgb(77, 75, 75);
    font-family: sans-serif;
}

.button-primary{
    display: flex;
    justify-content: center;
    margin: 1vh;
}

.container-header{
    margin: 0rem 2rem;
    color: gray;
    line-height: 0.8rem;
    font-family: Impact, fantasy;
}

.container-form{
    display: flex;
    align-items: flex-start;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.container-right{
    margin-right: 2rem;

}

#result{
    display: flex;
    justify-content: flex-end;
    font-size: x-large;

}


